.num-container {
  width: 15%;
  padding: 20px;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 4px;
  justify-items: center;
  margin: 0 auto;
}
.num{
  margin-left: 50px;
  margin-top: 15px;
}
.button-num{
  margin-left: 50px;
  height: 50px;
  width: 50px;
}
.app-main-container {
  margin: 0 auto;
  margin-top: 15vh;
  height: 500px;
  width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  grid-gap: 15px;
  justify-items: center;
}

.user-controls {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.user-controls > span,
input,
button {
  margin-bottom: 15px;
}

h3 {
  margin-top: 0px;
  text-transform: uppercase;
}

.current-games {
  width: 90%;
  height: 500px;
  overflow-y: scroll;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
}

.current-users {
  width: 90%;
  height: 500px;
  overflow-y: scroll;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
}

.current-users > p {
  font-size: 12px;
}

.game-actions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.game-row {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 3px 6px 18px 0px rgba(0,0,0,0.41);
  margin-bottom: 20px;
}
